/* Styles for the form */

.form-field {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 2vw;
  position: relative;
  padding-bottom: 1.2em;
}

.form-field label {
  width: 20vw;
  margin-right: 10px;
  text-align: right;
}

.form-field input {
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #d4bee4;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9b7ebd;
  background-color: #eeeeee;
  font-size: 2vw;
}

.form-field .error-message {
  position: absolute;
  left: 35%;
  bottom: 10px;
  width: 75%;
  color: #3b1e54;
  font-size: 0.6em;
  font-weight: bold;
  line-height: 1.2;
}

.form-field input.input-error {
  border-color: #3b1e54;
  background-color: #d4bee4;
}