/* Styles for the home page layout */

.home-grid {
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
    .home-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
    }
}