<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link href="css/global.css" rel="stylesheet" type="text/css">
</head>

<body>

    <main>
        <h1>Log in to Spolify</h1>

        <form action="CheckLogin" class="form-field" method="POST">
            <fieldset>
                <p><label for="username">Username: </label> <input id="lUsername" name="lUsername" required
                                                                   type="text">
                </p>
                <p><label for="pwd">Password: </label><input id="lPwd" name="lPwd" required type="password"></p>
                <input class="styled-button" type="submit" value="Continue">
                <p th:text=" ${errorLogInMsg}"></p>
            </fieldset>
        </form>

        <h1>Don't have an account?</h1>
        <form action="SignUp" class="form-field" method="POST">
            <fieldset>
                <p><label for="name">Name: </label><input id="sName" maxlength="100" minlength="3" name="sName"
                                                          required type="text"></p>
                <p><label for="surname">Surname: </label><input id="sSurname" maxlength="100" minlength="3" name="sSurname"
                                                                required type="text"></p>
                <p><label for="username">Username: </label><input id="sUsername" maxlength="100" minlength="3"
                                                                  name="sUsername" required type="text">
                </p>
                <p><label for="pwd">Password: </label><input id="sPwd" maxlength="100" minlength="4" name="sPwd"
                                                             required type="password"></p>
                <input class="styled-button" type="submit" value=" Sign Up">
                <p th:text=" ${errorSignUpMsg}"></p>
            </fieldset>

        </form>
    </main>


</body>

</html>