<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">

    <title>Error Page</title>
</head>

<body>
<main>
    <h2>Something went wrong</h2>
    <p>We're sorry, please try again later.</p>
</main>
<div>
    <a th:href="@{/Home}">Home</a>
    <a th:href=@{/Logout}>Logout</a>
</div>
</body>

</body>

</html>