<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spolify-Home</title>
</head>

<body>

	<form action="NewPlaylist" method=POST>
		<fieldset>
			<legend>New Playlist:</legend>
			
			<div th:if="${sogns.size() > 0}">
				<p> <label for="pName">Name: </label> <input type="text" name="pName" id="pName" required> </p>
				<p>Choose the songs:</p>
				<div id="songsSelectCheckboxes" style="height: 150px; overflow-y: auto; border: 1px solid #ccc;">
					<div th:each="song : ${songs}">
						<input type="checkbox" name="songsSelect" th:id="'song_' + ${song.idSong}" th:value="${song.idSong}"
							th:title="${song.title}">
						<label th:for="'song_' + ${song.idSong}" th:text="${song.title}">Default Song</label>
					</div>
					<!-- Static options for preview -->
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0001" value="0001"
							title="See You Again"> <label for="song_0001">See You Again</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0002" value="0002"
							title="Never Gonna Give You UP"> <label for="song_0002">Never Gonna Give You UP</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0003" value="0003"
							title="All Star"> <label for="song_0003">All Star</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0004" value="0004"
							title="Despacito"> <label for="song_0004">Despacito</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0005" value="0005"
							title="Volare"> <label for="song_0005">Volare</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0006" value="0006"
							title="Boom Baby"> <label for="song_0006">Boom Baby</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0007" value="0007"
							title="Tanti auguri a te"> <label for="song_0007">Tanti auguri a te</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0008" value="0008"
							title="Happy Birthday to you"> <label for="song_0008">Happy Birthday to you</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0009" value="0009"
							title="Thriller"> <label for="song_0009">Thriller</label> </div>
					<div th:remove="all"> <input type="checkbox" name="songsSelect" id="song_0010" value="0010"
							title="Bando"> <label for="song_0010">Bando</label> </div>
				</div>
				<p> <input type="submit" value="Add Playlist"> </p>
			</div>
			<div th:if="${songs.size() = 0"> To create a playlist you need to upload a song</div>
			<p th:text=" ${errorNewPlaylistMsg}"></p>
		</fieldset>
			

	</form>

<form action="NewSong" method=POST enctype="multipart/form-data">
	<fieldset>
	<legend>New Song:</legend>
	
	<p> <label for="sTitle">Title: </label><input type="text" name="sTitle" id="sTitle" required> </p>
	<p> <label for="sAlbum">Album: </label><input type="text" name="sAlbum" id="sAlbum" required> </p>
	<p> <label for="sYear">Year of release: </label><input type="number" name="sYear" id="sYear" required> (Use negatives for b.C.)</p>
	<p> <label for="sArtist">Artist or Group: </label><input type="text" name="sArtist" id="sArtist" required> </p>
	
	<p> <label for="sGenre">Genre:</label>
	<select id="sGenre" name="sGenre" required>
		  <option
		  			th:each="genre : ${genres}"
		  			th:value="${genre.name()}"
		  			th:text="${genre.description}"
		  			></option>
		  <option th:remove="all" value="pop">Pop</option>
		  <option th:remove="all" value="hiphop">Hip-Hop</option>
		  <option th:remove="all" value="jazz">Jazz</option>
		  <option th:remove="all" value="classical">Classical</option>
		  <option th:remove="all" value="electronic">Electronic</option>
		  <option th:remove="all" value="reggae">Reggae</option>
		  <option th:remove="all" value="country">Country</option>
		  <option th:remove="all" value="blues">Blues</option>
		  <option th:remove="all" value="metal">Metal</option>
	</select>
	 </p>
	<P><label for="sIcon">Load an Icon:</label> <input type="file" name="sIcon" id="sIcon" accept="image/*" required> </P>
	<p><label for="sFile">Load the audio file:</label> <input type="file" name="sFile" id="sFile"accept="audio/*"required> </p>
	
	<p> <input type="submit" value="Add Song"> </p>
	<p th:text=" ${errorNewSongMsg}"></p>
	</fieldset>
	
</form>




	<h1> Playlists: </h1>
	<div th:if="${playlists.size() > 0}">
		<table>
			<thead>
				<tr>
					<th>Name:</th>
					<th>Link:</th>
				</tr>
			<tbody th:remove="all-but-first">
				<tr th:each="playlist : ${playlists}">
					<td th:text="${playlist.name}">Hit Estive 2010</td>
					<td><a th:href="@{/GetPlaylistDetails(playlistid=${playlist.idPlaylist})}">Open</a></td>
				</tr>
				<tr>
					<td>Party</td>
					<td><a>Open</a></td>
				</tr>
				<tr>
					<td>House</td>
					<td><a>Open</a></td>
				</tr>
				<tr>
					<td>Sleeping</td>
					<td><a>Open</a></td>
				</tr>
				<tr>
					<td>Camping</td>
					<td><a>Open</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:if="${playlists.size() = 0 ">You don't have any playlist, create one</div>
	<pt th:text="${errorOpeningPlaylist}"></pt>
	
	
</body>

</html>