<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/css/global.css}" type="text/css">

    <title>Spolify-Home</title>
</head>

<body>
<div>
    <a th:href=@{/Logout}>Logout</a>
</div>

<main>
    <form action="NewPlaylist" method=POST>
        <fieldset>
            <legend>New Playlist:</legend>

            <div th:if="${songs.size() > 0}">
                <p><label for="pName">Name: </label> <input id="pName" maxlength="100" minlength="1" name="pName"
                                                            required type="text"></p>
                <p>Choose the songs:</p>
                <div id="songsSelectCheckboxes" style="height: 150px; overflow-y: auto; border: 1px solid #ccc;">
                    <div th:each="song : ${songs}">
                        <input name="songsSelect" th:id="'song_' + ${song.idSong}" th:title="${song.title}"
                               th:value="${song.idSong}" type="checkbox">
                        <label th:for="'song_' + ${song.idSong}" th:text="${song.title}">Default Song</label>
                    </div>
                    <!-- Static options for preview -->
                    <div th:remove="all"><input id="song_0001" name="songsSelect" title="See You Again" type="checkbox"
                                                value="0001"> <label for="song_0001">See You Again</label>
                    </div>
                    <div th:remove="all"><input id="song_0002" name="songsSelect" title="Never Gonna Give You UP" type="checkbox"
                                                value="0002"> <label for="song_0002">Never Gonna Give
                        You UP</label>
                    </div>
                    <div th:remove="all"><input id="song_0003" name="songsSelect" title="All Star" type="checkbox"
                                                value="0003"> <label for="song_0003">All Star</label></div>
                    <div th:remove="all"><input id="song_0004" name="songsSelect" title="Despacito" type="checkbox"
                                                value="0004"> <label for="song_0004">Despacito</label></div>
                    <div th:remove="all"><input id="song_0005" name="songsSelect" title="Volare" type="checkbox"
                                                value="0005"> <label for="song_0005">Volare</label></div>
                    <div th:remove="all"><input id="song_0006" name="songsSelect" title="Boom Baby" type="checkbox"
                                                value="0006"> <label for="song_0006">Boom Baby</label></div>
                    <div th:remove="all"><input id="song_0007" name="songsSelect" title="Tanti auguri a te" type="checkbox"
                                                value="0007"> <label for="song_0007">Tanti auguri a
                        te</label></div>
                    <div th:remove="all"><input id="song_0008" name="songsSelect" title="Happy Birthday to you" type="checkbox"
                                                value="0008"> <label for="song_0008">Happy Birthday to
                        you</label>
                    </div>
                    <div th:remove="all"><input id="song_0009" name="songsSelect" title="Thriller" type="checkbox"
                                                value="0009"> <label for="song_0009">Thriller</label></div>
                    <div th:remove="all"><input id="song_0010" name="songsSelect" title="Bando" type="checkbox"
                                                value="0010"> <label for="song_0010">Bando</label></div>
                </div>
                <p><input type="submit" value="Add Playlist"></p>
            </div>
            <div th:if="${songs.size() == 0}"> To create a playlist you need to upload a song</div>
            <p th:text=" ${errorNewPlaylistMsg}"></p>
        </fieldset>


    </form>

    <form action="NewSong" enctype="multipart/form-data" method=POST>
        <fieldset>
            <legend>New Song:</legend>

            <p><label for="sTitle">Title: </label><input id="sTitle" maxlength="100" minlength="1" name="sTitle"
                                                         required type="text"></p>
            <p><label for="sAlbum">Album: </label><input id="sAlbum" maxlength="100" minlength="1" name="sAlbum"
                                                         required type="text"></p>
            <p><label for="sYear">Year of release: </label><input id="sYear" name="sYear" required type="number">
                (Use
                negatives for b.C.)</p>
            <p><label for="sArtist">Artist or Group: </label><input id="sArtist" maxlength="100" minlength="1"
                                                                    name="sArtist" required type="text">
            </p>

            <p><label for="sGenre">Genre:</label>
                <select id="sGenre" name="sGenre" required>
                    <option th:each="genre : ${genres}" th:text="${genre.description}" th:value="${genre.name()}">
                    </option>
                    <option th:remove="all" value="pop">Pop</option>
                    <option th:remove="all" value="hiphop">Hip-Hop</option>
                    <option th:remove="all" value="jazz">Jazz</option>
                    <option th:remove="all" value="classical">Classical</option>
                    <option th:remove="all" value="electronic">Electronic</option>
                    <option th:remove="all" value="reggae">Reggae</option>
                    <option th:remove="all" value="country">Country</option>
                    <option th:remove="all" value="blues">Blues</option>
                    <option th:remove="all" value="metal">Metal</option>
                </select>
            </p>
            <P><label for="sIcon">Load an Icon:</label> <input accept="image/*" id="sIcon" name="sIcon" required
                                                               type="file"></P>
            <p><label for="sFile">Load the audio file:</label> <input accept="audio/*" id="sFile" name="sFile"
                                                                      required type="file"></p>

            <p><input type="submit" value="Add Song"></p>
            <p th:text=" ${errorNewSongMsg}"></p>
        </fieldset>

    </form>


    <h1> Playlists: </h1>
    <div th:if="${playlists != null && playlists.size() > 0}">
        <table>
            <thead>
            <tr>
                <th>Name:</th>
                <th>Link:</th>
            </tr>
            <tbody th:remove="all-but-first">
            <tr th:each="playlist : ${playlists}">
                <td th:text="${playlist.name}">Hit Estive 2010</td>
                <td><a th:href="@{/GetPlaylistDetails(playlistId=${playlist.idPlaylist})}">Open</a></td>
            </tr>
            <tr>
                <td>Party</td>
                <td><a>Open</a></td>
            </tr>
            <tr>
                <td>House</td>
                <td><a>Open</a></td>
            </tr>
            <tr>
                <td>Sleeping</td>
                <td><a>Open</a></td>
            </tr>
            <tr>
                <td>Camping</td>
                <td><a>Open</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${playlists == null || playlists.size() == 0}">You don't have any playlist, create one</div>
    <pt th:text="${errorOpeningPlaylist}"></pt>
</main>


</body>

</html>